@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

h1,
h2,
h3,
h4,
.btn,
li {
    font-family: 'Bebas Neue', cursive;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}